@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;  /*Tamanho da letra */
    background-image: linear-gradient(180deg, #6b3f60 0, #61345d 16.67%, #54295b 33.33%, #441f59 50%, #301657 66.67%, #141056 83.33%, #000d56 100%);  /* Degrade*/
}

.cabecalho{
    display: flex;  /*flexbox */
    flex-direction: row-reverse;  /*Linha, ou coluna ou etc */
    padding: 30px;  /* O espaço entre a parte de cima com os itens */
}

.cabecalho-menu{
    font-family: 'Roboto Mono', monospace;  /*google fonts */
    display: flex;  /*FlexBox, intruções de como usar no site */
    gap: 32px;  /*O espaçamento entre as palavras */
    color: #f8f8f8;  /*A cor da letra */
    font-weight: 400;
    flex-direction: row-reverse;
}

.item1{
    color: #f8f8f8;  /*A cor da letra */

}

.item2{
    color: #f8f8f8;  /*A cor da letra */
}

.item3{
    color: #f8f8f8;  /*A cor da letra */

}

.conteudo{
    border-top: 0.5px solid #d7d7ea;
    border-bottom: 0.5px solid #d7d7ea;
}

.informacoes{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px;

}

.infomacaoUm{
    font-family: 'Roboto Mono', monospace;
    color:#d7d7ea;
}

.informacaoDois{
    font-family: 'Dosis', sans-serif;
    color: #d7d7ea;
}

.infomacaoTres{
    font-family: 'Dosis', sans-serif;
    color: #d7d7ea;

}

.minhaHisotira{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px;
}

.minhaHistoria-div{
    font-family: 'Roboto Mono', monospace;
    color: #d7d7ea;
    padding: 30px;
}

.imagem{
    display: flex;
    align-items: flex-end;
}

