@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;  /*Tamanho da letra */
    background-image: radial-gradient(circle at 47.71% 45.09%, #60345d 0, #54295b 25%, #441f59 50%, #311657 75%, #151156 100%);
}

.cabecalho{
    display: flex;  /*flexbox */
    flex-direction: row-reverse;  /*Linha, ou coluna ou etc */
    padding: 30px;  /* O espaço entre a parte de cima com os itens */
}

.cabecalho-menu{
    font-family: 'Roboto Mono', monospace;  /*google fonts */
    display: flex;  /*FlexBox, intruções de como usar no site */
    gap: 32px;  /*O espaçamento entre as palavras */
    color: #f8f8f8;  /*A cor da letra */
    font-weight: 400;
    flex-direction: row-reverse;
}

.item1{
    color: #f8f8f8;  /*A cor da letra */

}

.item2{
    color: #f8f8f8;  /*A cor da letra */
}

.item3{
    color: #f8f8f8;  /*A cor da letra */

}

.conteudo{
    border-bottom: 0.5px solid #d7d7ea;
    border-top: 0.5px solid #d7d7ea;
    margin-bottom: 48px;
   
}

.informacoes{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    justify-content: flex-start;

}

.informacoes-eu{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px;
    
}

.infomacaoUm{
    font-family: 'Roboto Mono', monospace;
    color:#d7d7ea;
    
}

.informacaoDois{
    font-family: 'Dosis', sans-serif;
    color: #d7d7ea;
    
}
.conteudoDois{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    justify-content: flex-start;
}


.minhaHistoria{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px;
}

.minhaHistoriaUm{
    font-family: 'Roboto Mono', monospace;
    color:#d7d7ea;
}

.minhaHistoriaDois{
    font-family: 'Roboto Mono', monospace;
    color:#d7d7ea;
}


