@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Uchen&display=swap');



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-size: 100%;  /*Tamanho da letra */
    background-image: linear-gradient(90deg, rgba(161,106,104,1) 6%, rgba(68,43,115,1) 67%, rgba(9,9,121,1) 100%, hwb(249 41% 12%) 100%);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}
h3{
    font-family: 'Roboto Mono', monospace;  /*google fonts */
    color: #f8f8f8;
    gap: 15px;
    padding: 20px;
}
h4{
    display: flex;
    justify-content: center;
}
.dark-mode{
    background: linear-gradient(90deg, rgba(43,41,43,1) 100%, rgba(0,0,0,1) 100%);;
    font-size: 100%;  /*Tamanho da letra */
    transition: 2s;
}

.cabecalho{
    padding: 30px;  /* O espaço entre a parte de cima com os itens */
}

.cabecalho-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    font-family: 'Roboto Mono', monospace;  /*google fonts */
    color: #f8f8f8;
    gap: 15px;
    gap: 15px;
    padding: 20px;
    left: 300px;
    transition: 1.5s;
}
.cabecalho-menu :hover{
    transform: translate(-2px, -2px);
    transition:  0.4s;
}

.redes{
    max-width: 20px;
    max-height: 20px;
    border-radius: 20px;
}

.item4{
    position: relative;
    top: 5px;
}

.conteudo{
    border-bottom: 0.5px solid #d7d7ea;
    margin-bottom: 48px;
}

.informacoes{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.informacoes-eu{
    display: flex;
    gap: 30px;
    padding: 40px;
    font-size: 20px;
    flex-direction: column;  
}

.informacoes-eu p{
    font-size: 12px;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
}

.infomacaoUm{
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color:#d7d7ea;
    white-space: nowrap;
    overflow: hidden;
    border-right: #d7d7ea 2px solid;
    margin: auto;
    padding: 1%;
}
.typingAnimation{
    animation: typing 4s 1s normal, blink 2200ms infinite normal;
}

@keyframes typing{
    from{
        width:0;;
    }
    to{
        width: 15rem;
    }
}

@keyframes blink{
    from{
        border-right-color: #d7d7ea;
    }
    to{
        border-right-color: transparent;
    }
}

@keyframes changeColor {

    from{
        color: #d7d7ea;
    }
    to{
        color: green;
    } 
}
.change-color{
    animation: changeColor 5200ms infinite normal;
}


.informacaoDois{
    font-family: 'Dosis', sans-serif;
    color: #d7d7ea;
   
    
}
.conteudoDois{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.minhaHistoria{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px;
}

.minhaHistoriaUm{
    font-family: 'Roboto Mono', monospace;
    color:#d7d7ea;
}

.minhaHistoriaDois{
    font-family: 'Roboto Mono', monospace;
    color:#d7d7ea;
    text-align: justify;
    gap: 25px;
    padding: 40px;
}
.img{
    padding: 5%;
    max-width: 230px; /*os valorres auto para o width e height. Assim a escala é feita conforme largura ou altura (o que atingir primeiro) e a proporção é feita automaticamente.
                     fiz isso para reduzir o tamanho da imagem no site, com um valor de 500px no maximo*/
    max-height:200px;
    border-radius: 50%;
    
}

.despedida{
    display: flex;
    padding: 30px;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    color: #f8f8f8; 
    flex-wrap: wrap;
    font-size: 25px;
    top: 80px;
    position: relative;
}

.agradecimentos{
    display: flex;
    gap:20px;
    padding: 20px;
    font-size: 10px;    
}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column; 
    background-color: rgba(0, 0, 0, 0.10);
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    width: 700px;
    height: 600px;
    padding: 2%;
    left: 30%;
    position: relative;
    gap: 15px;
    border-radius: 15px;
    top: 30px;
    transition: 0.5s;
}
.forms:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
.forms h1{
    font-size: 40px;
}
.f-h3{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    border-left: 2px solid;
}

.forms div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 350px;
    top: 45px;
    position: relative;

}

.forms input{
    height: 30px;
    width: 200px;
    padding: 2%;
    font-family: 'Roboto Mono', monospace;
    border-radius: 15px;
    transition: 0.5s;
}

.forms input:hover{
    width: 210px;
}

.forms textarea{
    padding: 1%;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
}

.mail{
    color: #f8f8f8;  /*A cor da letra */

}

.experienciasUm{
    color: #f8f8f8;  /*A cor da letra */

}

.projetinhos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
}

.imagesContent{
    height: 250px;
    width: 370px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.imagesContent input{
    display: none;
}

.imagesContent img{
    height: 100%;
    width: 100%;
}

.img-nav{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    transform: translate(-50%);
    display: flex;
    position: absolute;
    bottom: -630px;
    left: 50%;
}
.slides{
    display: flex;
    width: 300%;
    height: 100%;
}

.slide{
    width: 35%;
    transition: 1s;
}
.bar{
    width: 70px;
    height: 17px;
    border: 1px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.bar:hover{
    background-color: #fff;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -35%;
}

#slide3:checked ~ .s1{
    margin-left: -70%;
}

#writeProjects{
    display: none;
}

.showProjects{
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
    gap: 25px;
    padding: 40px;
}

.experienciasDois{
    font-family: 'Roboto Mono', monospace;
    color:#d7d7ea;
    text-align: justify;
    gap: 25px;
    padding: 40px;
}

.experienciasUm{
    font-family: 'Roboto Mono', monospace;
    color:#d7d7ea;
    text-align: justify;
    gap: 25px;
    padding: 40px;
}
.experienciasTres{
    font-family: 'Roboto Mono', monospace;
    color:#d7d7ea;
    text-align: justify;
    gap: 25px;
    padding: 40px;
}
.experienciasQuatro{
    font-family: 'Roboto Mono', monospace;
    color:#d7d7ea;
    text-align: justify;
    gap: 25px;
    padding: 40px;   
}

.minhasHabilidades{
    display: flex;
    flex-direction: row;  
    padding: 40px;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    color: #f8f8f8;
    gap: 40px; 
    flex-wrap:  wrap;
}
.habilidades{
    border-top:  0.5px solid #d7d7ea;
    display: flex;
    justify-content: flex-start;
    padding: 40px;
    font-family: 'Roboto Mono', monospace;
    color:#f8f8f8
    
}
#botao-dark{
    font-family: 'Roboto Mono', monospace;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
    right: 1px;
    position: relative;
}
.projects{
    display: flex;
    justify-content: center;
}
.descricao{
    background-color: black;
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    max-width: 400px;
    height: 40px;
    padding: 2%;
    position: relative;
    border-radius: 580px;
    cursor: pointer;
    left: 760px;
    bottom: 430px;
    clip-path: circle(6% at 90% 20%);
    transition: 1s;
}
.descricao:hover{
    clip-path: circle(100%);
}
.descricao:hover span{
    opacity: 0;
}
.info{
    float: right;
    bottom: 25px;
    margin-right: 5px;
    position: relative;
    transition: opacity 0.4s;
}
.descricao2{
    background-color: black;
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    max-width: 400px;
    height: 40px;
    padding: 2%;
    position: relative;
    border-radius: 580px;
    cursor: pointer;
    left: 160px;
    bottom: 530px;
    clip-path: circle(6% at 90% 20%);
    transition: 1s;
}
.descricao2:hover{
    clip-path: circle(100%);
}
.descricao2:hover span{
    opacity: 0;
}
#hide-btn{
    font-family: 'Roboto Mono', monospace;
    width: 100px;
    height: 45px;
    font-size: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
#show-btn{
    font-family: 'Roboto Mono', monospace;
    width: 100px;
    height: 45px;
    font-size: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.botao1{
    font-family: 'Roboto Mono', monospace;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.botao2{
    font-family: 'Roboto Mono', monospace;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
   
    
}
.botao3{
    font-family: 'Roboto Mono', monospace;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  
  
}
.botao4{
    font-family: 'Roboto Mono', monospace;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    
}
.botao5{
    font-family: 'Roboto Mono', monospace;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    
}
.botao6{
    font-family: 'Roboto Mono', monospace;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
   
}
.botao7{
    font-family: 'Roboto Mono', monospace;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  
}
.botao8{
    font-family: 'Roboto Mono', monospace;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  
}
.botao9{
    font-family: 'Roboto Mono', monospace;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.botoes{
    font-family: 'Roboto Mono', monospace;  
    display: flex;  
    gap: 32px;  
    color: #f8f8f8; 
    font-weight: 400;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: left;
    cursor: pointer;
    
}
.botoes button{
    width: 130px;
    height: 20px;
}
.minhasHabilidadesDois{
    display: flex;
    flex-direction: row;  
    padding: 40px;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    color: #f8f8f8;
    gap: 40px; 
    flex-wrap:  wrap;
}
.habilidades2{
    display: flex;
    justify-content: flex-start;
    padding: 40px;
    font-family: 'Roboto Mono', monospace;
    color:#f8f8f8
}
.front{
    display: flex;
    justify-content: center;
    padding: 40px;
    font-family: 'Roboto Mono', monospace;
    color:#f8f8f8
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-family: 'Roboto Mono', monospace;
    color:#f8f8f8   
}

.dio{
    font-family: 'Roboto Mono', monospace;
    color:#f8f8f8   
}

@keyframes botaoAnimation{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

button:hover {
    animation-name: botaoAnimation;
    animation-duration: 0.5;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 25px 30px rgba(57, 42, 221, 0.5);
    transition: 1.0s;
}
.control-forms{
    display: flex;
    max-width: 200px;
    padding-right: 355px;
    position: relative;
    font-size: 12px;
}

.seemore{
    font-size: 20px;
    color: green;
}

.old{
    font-size: 20px;    
    color: red;
}